repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    - id: check-added-large-files
    - id: check-json
    - id: check-yaml
    - id: end-of-file-fixer
    - id: forbid-submodules
    - id: trailing-whitespace

  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
    - id: autoflake
      args:
        - --ignore-init-module-imports
        - --in-place
        - --remove-all-unused-imports
        - --remove-unused-variables

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
    - id: black
      args:
        - --preview

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
